.idea
.venv
.vs
/build.luarocks
/node_modules
/out
/patches/001-mediapipe-src.patch
/samples/testdata
/scripts/configure_bazel.js
/test/solutions/testdata/*
/*.rock
/*.rockspec
/*.sublime-workspace
generated
~$*

!/test/solutions/testdata/test_on_video_full_asl_hand.full.yml
!/test/solutions/testdata/test_on_video_full_pose_squats.full.yml
