~$*
.cache
.idea
.venv
.vs
generated
/*.rock
/*.rockspec
/*.sublime-workspace
/build.luarocks
/node_modules
/out
/patches/001-mediapipe-src.patch
/samples/testdata
/scripts/configure_bazel.js
/test/solutions/testdata/*
