// Resource script for LuaJIT console EXEs.

#include "luajit_ver_rc.h"

#ifndef RT_MANIFEST
#define RT_MANIFEST                        24
#endif

#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID  1
#endif

#ifndef ISOLATIONAWARE_MANIFEST_RESOURCE_ID
#define ISOLATIONAWARE_MANIFEST_RESOURCE_ID 2
#endif

#ifndef ISOLATIONAWARE_NOSTATICIMPORT_MANIFEST_RESOURCE_ID
#define ISOLATIONAWARE_NOSTATICIMPORT_MANIFEST_RESOURCE_ID 3
#endif

#ifndef ISOLATIONPOLICY_MANIFEST_RESOURCE_ID
#define ISOLATIONPOLICY_MANIFEST_RESOURCE_ID 4
#endif

#ifndef ISOLATIONPOLICY_BROWSER_MANIFEST_RESOURCE_ID
#define ISOLATIONPOLICY_BROWSER_MANIFEST_RESOURCE_ID 5
#endif


#ifndef IDI_APPLICATION
#define IDI_APPLICATION     32512
#endif

#ifndef IDI_HAND
#define IDI_HAND            32513
#endif

#ifndef IDI_QUESTION
#define IDI_QUESTION        32514
#endif

#ifndef IDI_EXCLAMATION
#define IDI_EXCLAMATION     32515
#endif

#ifndef IDI_ASTERISK
#define IDI_ASTERISK        32516
#endif

#ifndef IDI_WINLOGO
#define IDI_WINLOGO         32517
#endif

#ifndef IDI_SHIELD
#define IDI_SHIELD          32518
#endif


// Include the manifest file that indicates we support all
// current versions of Windows.
CREATEPROCESS_MANIFEST_RESOURCE_ID  ICON DISCARDABLE "luajit.ico"
IDI_APPLICATION                     ICON DISCARDABLE "luajit.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION LUAJIT_PRODUCT_VERSION
 PRODUCTVERSION LUAJIT_PRODUCT_VERSION
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            // VALUE "CompanyName", LUAJIT_COMPANY ""
            VALUE "FileDescription", "LuaJIT"
            VALUE "FileVersion", LUAJIT_VERSION
            VALUE "InternalName", "LuaJIT Console"
            // VALUE "LegalCopyright", LUAJIT_COPYRIGHT ""
            VALUE "OriginalFilename", "luajit-" LUAJIT_VERSION ".exe"
            VALUE "ProductName", "LuaJIT"
            VALUE "ProductVersion", LUAJIT_VERSION
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
